body {
	background: url("https://github.com/avkashm/avkashm.github.io/blob/master/backgroundImages/20190824_001_edit.jpg?raw=true") no-repeat center fixed;
    background-size: cover;
    opacity: 0.75;
    font-family: Open Sans;
}

/*----------Navigation bar formatting----------*/

.navbar {
    background-color: rgb(75,75,75);
    overflow: hidden;
    opacity: 0.75;
    position: fixed;
}

.navbar a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}

.navbar a:hover {
    background-color: rgb(125,125,125);
    color: white;
}

.navbar a.active {
    background-color: rgb(175,175,175);
    color: white;
}