body {
    height: 100%;
    margin: 0;
    font-family: Open Sans;
}

/*----------Navigation bar formatting----------*/

.navbar {
    background-color: rgb(75,75,75);
    overflow: hidden;
    position: fixed;
    top: 10px;
    left: 5px;
}

.navbar a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}

.navbar a:hover {
    background-color: rgb(125,125,125);
    color: white;
}

.navbar a.active {
    background-color: rgb(175,175,175);
    color: white;
}

/*----------Parallax image formatting----------*/

.bgimage4 {
  background-image: url("https://github.com/avkashm/avkashm.github.io/blob/master/backgroundImages/_MG_1062_edit.jpg?raw=true");
  position: relative;  
  opacity: 0.75;
  min-height: 600px;
  
  background-attachment: fixed;
  background-position: center; 
  background-repeat: no-repeat;
  background-size: cover;
}