body {
    /* background: url("https://github.com/avkashm/avkashm.github.io/blob/master/backgroundImages/_MG_0710_edit.jpg?raw=true") no-repeat center fixed; */
    height: 100%;
    margin: 0;
    font: 400 15px/1.8;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: rgb(100,100,100);
}

.navbar {

}

/*----------Parallax image formatting----------*/

.bgimage1, .bgimage2, .bgimage3, .bgimage4 {
  position: relative;  
  opacity: 0.6;
  min-height: 600px;
  
  background-attachment: fixed;
  background-position: center; 
  background-repeat: no-repeat;
  background-size: cover;
}

.bgimage1 {
  background-image: url("https://github.com/avkashm/avkashm.github.io/blob/master/backgroundImages/_MG_0710_edit.jpg?raw=true");
}

.bgimage2 {
  background-image: url("https://github.com/avkashm/avkashm.github.io/blob/master/backgroundImages/_MG_8001_print.jpg?raw=true");
}

.bgimage3 {
  background-image: url("https://github.com/avkashm/avkashm.github.io/blob/master/backgroundImages/20190824_001_edit.jpg?raw=true");
}

.bgimage4 {
  background-image: url("https://github.com/avkashm/avkashm.github.io/blob/master/backgroundImages/_MG_1062_edit.jpg?raw=true");
}

/*----------Subcategory link formatting----------*/

.namelogo {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
}

.namelogo span.border{
    background-color: #111;
    color: #fff;
    padding: 18px;
    font-size: 50px;
    letter-spacing: 10px;
}

.subcategory {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #111;
}

.subcategory span.border{
    background-color: #000;
    color: #fff;
    padding: 18px;
    font-size: 50px;
    letter-spacing: 10px;
}