body {
    height: 100%;
    margin: 0;
    font-family: Open Sans;
}

/*----------Navigation bar formatting----------*/

.navbar {
    background-color: transparent;
    overflow: hidden;
    position: fixed;
    text-align: center;
    width: 100%;
    top: 10px;

}

.navbar a {
    float: none;
    color: white;
    left: 50%;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    border-style: solid;
    border-color: white;
    border-width: 2px;
}

.navbar a:hover {
    color: rgb(125,125,125);
}

.navbar a.active {
    color: rgb(175,175,175);
}

/*----------Parallax image formatting----------*/

.bgimage1, .bgimage2, .bgimage3, .bgimage4 {
  position: relative;  
  opacity: 0.75;
  min-height: 600px;
  
  background-attachment: fixed;
  background-position: center; 
  background-repeat: no-repeat;
  background-size: cover;
}

.bgimage1 {
  background-image: url("https://github.com/avkashm/avkashm.github.io/blob/master/backgroundImages/_MG_0710_edit.jpg?raw=true");
}

.bgimage2 {
  background-image: url("https://github.com/avkashm/avkashm.github.io/blob/master/backgroundImages/_MG_8001_print.jpg?raw=true");
}

.bgimage3 {
  background-image: url("https://github.com/avkashm/avkashm.github.io/blob/master/backgroundImages/20190824_001_edit.jpg?raw=true");
}

.bgimage4 {
  background-image: url("https://github.com/avkashm/avkashm.github.io/blob/master/backgroundImages/_MG_1062_edit.jpg?raw=true");
}

/*----------Subcategory link formatting----------*/

.namelogo {
  position: relative;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: rgb(25,25,25);
}

.namelogo span {
  top: 25%;
  font-size: 50px;
  color: darkgray;
}

.namelogo span.border{
  background-color: rgb(75,75,75);
  padding: auto;
}

.subcategory {
  position: relative;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: rgb(25,25,25);
}

.subcategory span {
  top: 25%;
  font-size: 40px;
  color: darkgray;
}

.subcategory span.border{
  background-color: rgb(75,75,75);
  padding: auto;
}