body {
    height: 100%;
    margin: 0;
    font-family: Open Sans;
}

/*----------Navigation bar formatting----------*/

.navbar {
    background-color: rgb(75,75,75);
    overflow: hidden;
    position: fixed;
    text-align: center;
    top: 10px;
    left: 5px;
}

.navbar a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}

.navbar a:hover {
    background-color: rgb(125,125,125);
    color: white;
}

.navbar a.active {
    background-color: rgb(175,175,175);
    color: white;
}

/*----------Parallax image formatting----------*/

.bgimage1, .bgimage2, .bgimage3, .bgimage4 {
  position: relative;  
  opacity: 0.75;
  min-height: 600px;
  
  background-attachment: fixed;
  background-position: center; 
  background-repeat: no-repeat;
  background-size: cover;
}

.bgimage1 {
  background-image: url("https://github.com/avkashm/avkashm.github.io/blob/master/backgroundImages/_MG_0710_edit.jpg?raw=true");
}

.bgimage2 {
  background-image: url("https://github.com/avkashm/avkashm.github.io/blob/master/backgroundImages/_MG_8001_print.jpg?raw=true");
}

.bgimage3 {
  background-image: url("https://github.com/avkashm/avkashm.github.io/blob/master/backgroundImages/20190824_001_edit.jpg?raw=true");
}

.bgimage4 {
  background-image: url("https://github.com/avkashm/avkashm.github.io/blob/master/backgroundImages/_MG_1062_edit.jpg?raw=true");
}

/*----------Subcategory link formatting----------*/

.namelogo {
    position: relative;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: rgb(25,25,25);
}

.namelogo span {
    font-size: 50px;
    color: darkgray;
}

.namelogo span.border{
    background-color: rgb(75,75,75);
    padding: auto;
}

.subcategory {
    position: relative;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: rgb(25,25,25);
}

.subcategory span {
    font-size: 40px;
    color: darkgray;
}

.subcategory span.border{
    background-color: rgb(75,75,75);
    padding: auto;
}