body {
    /* background: url("https://github.com/avkashm/avkashm.github.io/blob/master/backgroundImages/_MG_0710_edit.jpg?raw=true") no-repeat center fixed; */
    background-color: lightblue;
    background-size: cover;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: rgb(100,100,100);
}

.bgimage1, .bgimage2, .bgimage3, .bgimage4 {
  position: relative;  
  opacity: 0.6;
  
  background-attachment: fixed;
  background-position: center; 
  background-repeat: no-repeat;
  background-size: cover;
}

.bgimage1 {
  background-image: url("https://github.com/avkashm/avkashm.github.io/blob/master/backgroundImages/_MG_0710_edit.jpg?raw=true");
  min-height: 500px;
}

.bgimage2 {
  background-image: url("https://github.com/avkashm/avkashm.github.io/blob/master/backgroundImages/_MG_8001_print.jpg?raw=true");
  min-height: 500px;
}

.bgimage3 {
  background-image: url("https://github.com/avkashm/avkashm.github.io/blob/master/backgroundImages/20190824_001_edit.jpg?raw=true");
  min-height: 500px;
}

.bgimage4 {
  background-image: url("https://github.com/avkashm/avkashm.github.io/blob/master/backgroundImages/_MG_1062_edit.jpg?raw=true");
  min-height: 500px;
}

/* If you wanna add a final contact/questions page bg picture
.bgimage5 {
  background-image: url("https://github.com/avkashm/avkashm.github.io/blob/master/backgroundImages/_MG_0710_edit.jpg?raw=true");
  min-height: 100%;
}*/


h1 {
    color: navy;
    margin-left: 20px;
}
